In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import string
plt.style.use('ggplot')
# pd.set_option('max_columns', 200)

In [3]:
df_app = pd.read_csv('AssignmentData/appearances.csv')
df_club_games = pd.read_csv('AssignmentData/club_games.csv')
df_club = pd.read_csv('AssignmentData/clubs.csv')
df_comp = pd.read_csv('AssignmentData/competitions.csv')
df_game_events = pd.read_csv('AssignmentData/game_events.csv')
df_game_lineups = pd.read_csv('AssignmentData/game_lineups.csv')
df_games = pd.read_csv('AssignmentData/games.csv')
df_player_val = pd.read_csv('AssignmentData/player_valuations.csv')
df_players = pd.read_csv('AssignmentData/players.csv')
pd.set_option('display.max_columns', None) # Display all columns

In [10]:
df_club_games[df_club_games['game_id'] == 2222597]

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
2,2222597,3725,2,2.0,Stanislav Cherchesov,232,1,5.0,Unai Emery,Home,1
65218,2222597,232,1,5.0,Unai Emery,3725,2,2.0,Stanislav Cherchesov,Away,0